<div class="row">
	<div class="col-12 bottom-30">
		<div widget class="card">
			<div class="card-header">
				<span class="title">
					<i class="fa fa-id-badge"></i>
					{{ action }} &gt; {{ userForm.get("name").value }}
				</span>
				<span class="widget-controls">
					<a (click)="hide()" class="transition"><i class="fa fa-times"></i></a>
				</span>
			</div>
			<div class="card-body widget-body">

				<form [formGroup]="userForm" [ngClass]="{ 'form-validate': validate }">
					<div class="row">
						<div class="col-sm-6">
							<label for="user-name">Nome</label>
							<input type="text" class="form-control" id="user-name" formControlName="name" />
						</div>
						<div class="col-sm-6">
							<label for="user-email">E-mail</label>
							<input type="text" class="form-control" id="user-email" formControlName="email" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="user-role">Permissão</label>
							<select class="form-control" id="user-role" formControlName="role">
								<option value="ADMIN">Administrador</option>
								<option value="SALES">Vendedor</option>
							</select>
						</div>
						<div class="col-sm-2">
							<label for="user-status">Status</label><br/>
							<status [status]="user?.active" [showText]="true"></status>
							- <i class="fa fa-sync-alt action" (click)="toggleStatus();" ></i>
						</div>
						<div class="col-sm-4 label-margin right">
							<platypus-button caption="Resetar senha" icon="fa-key" (action)="resetPassword()"></platypus-button>
							<platypus-button type="save" (action)="onSubmit()"></platypus-button>
						</div>
					</div>
					<div class="row" [hidden]="!newPassword">
						<div class="offset-md-8 col-md-4 right" id="new-password">
							Nova senha: [ {{ newPassword }} ]
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>

</div>
