<div class="row">
	<div class="col-xs-12 container">

		<div class="row">
			<div class="col-sm-12 search">
				<search-bar (search)="search($event)"></search-bar>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 result">
				<gag-list [gags]="list"></gag-list>
			</div>
		</div>
		<div class="row" *ngIf="moreContent">
			<div class="col-sm-12 right">
				<platypus-button
					type="load-more"
					(click)="nextPage()"
				>
				</platypus-button>
			</div>
		</div>

		<div class="row" *ngIf="noResults">
			<div class="col-sm-12 no-results">
				<i class="fa fa-times-circle"></i>&nbsp;
				No results found
			</div>
		</div>

		<div class="row" *ngIf="loading">
			<div class="col-sm-12 result">
				<mag-loading></mag-loading>
			</div>
		</div>

	</div>
</div>
