<div class="row">
	<div class="col-12 bottom-30">
		<div widget class="card">

			<div class="card-body widget-body">
				<div class="row">
					<div class="col-sm-4">
						<label for="user-pass1">Nome</label>
						<span class="input-info">{{ user.name }}</span>
					</div>
					<div class="col-sm-4">
						<label for="user-pass2">E-mail</label>
						<span class="input-info">{{ user.email }}</span>
					</div>
					<div class="col-sm-4">
						<label for="user-pass2">Permissão</label>
						<span class="input-info">{{ user.getRole() }}</span>
					</div>
				</div>
				<div class="row" [hidden]="passFormShow">
					<div class="col-sm-12 full-btn label-margin">
						<platypus-button (action)="passFormToggle()" type="primary" icon="fa-key" caption="Alterar senha"></platypus-button>
					</div>
				</div>
			</div>
		</div>

		<div widget class="card">
			<div class="card-header" [hidden]="!passFormShow">
				<span>Alterar Senha</span>
				<span class="widget-controls">
					<a (click)="passFormToggle()" class="transition"><i class="fa fa-times"></i></a>
				</span>
			</div>

			<div class="card-body widget-body" [hidden]="!passFormShow">
				<form [formGroup]="meForm" [ngClass]="{ 'form-validate': validate }">
					<div class="row">
						<div class="col-sm-5">
							<label for="user-pass1">Nova Senha</label>
							<input type="password" class="form-control" id="user-pass1" formControlName="password" />
						</div>
						<div class="col-sm-5">
							<label for="user-pass2">Repetir Senha</label>
							<input type="password" class="form-control" id="user-pass2" formControlName="confirm" />
						</div>
						<div class="col-sm-2 label-margin right full-btn">
							<platypus-button type="save" (action)="onSubmit()"></platypus-button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>

</div>
