<div class="row">
	<div class="col-12 bottom-30">
		<div widget class="card">

			<div class="card-body widget-body">
				<div class="row">
					<div class="col-sm-4">
						<label for="user-pass1">Nome</label>
						<span class="input-info">{{ user.name }}</span>
					</div>
					<div class="col-sm-4">
						<label for="user-pass2">E-mail</label>
						<span class="input-info">{{ user.email }}</span>
					</div>
					<div class="col-sm-4">
						<label for="user-pass2">Permissão</label>
						<span class="input-info">{{ user.getRole() }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
