<div class="row">
	<div class="col-12 bottom-30">
		<div widget class="card">
			<div class="card-header">
				<span class="title">
					<i class="fa fa-id-badge"></i>
					Usuários
				</span>
				<div class="widget-controls">
					<a class="transition" title="Adicionar usuário" (click)="addUser();">
						<i class="fa fa-plus-circle"></i>
					</a>
					<a class="transition" title="Atualizar" (click)="reload();">
						<i class="fa fa-sync-alt"></i>
					</a>
				</div>
			</div>
			<div class="card-body widget-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Permissão</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of users">
							<td>{{ user.name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.getRole() }}</td>
							<td>
								<a (click)="editUser(user);"><i class="fa fa-edit"></i></a>
							</td>
						</tr>
					</tbody>
				</table>

				<beat-loading [hidden]="!loading"></beat-loading>

			</div>
		</div>
	</div>

</div>
