<div class="row">
	<div class="col-sm-12 content">
		{{ item.content }}
	</div>
</div>

<div class="row origin">
	<div class="col-md-4 location">
		<span [innerHTML]="item.getOrigin()"></span><br/>
		<span [innerHTML]="item.getLocation()"></span><br/>
		<span class="date">
			&nbsp;&nbsp;&nbsp;
			<i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;
			{{ item.date | date: 'dd/MM/yyyy' }}
		</span>
	</div>
	<div class="col-md-8 author right" (click)="SearchAuthor();">
		~ {{ item.author }}
	</div>
</div>


