@import "variables";

.content {
	white-space: pre-wrap;
	padding: 20px 30px 0 50px;
	font-family: monospace;
	font-size: 14px;
}

.origin {
	color: $gray;
	margin: 10px 5px 50px;
	border-bottom: 1px solid $gray-light;
}

.author {
	cursor: pointer;
}
